  <%-include partial/header%>
  <div class="type-r0">
    <a href="/students">show all data</a><br>
    <body>
      <form action="/students/edit/<%=data.id%>" method="post">
        <fieldset>
          <label>First Name: </label><br>
          <input type="text" name="first_name" value="<%=data.first_name%>" placeholder="input your First Name"><br>
          <label>Last Name: </label><br>
          <input type="text" name="last_name" value="<%=data.last_name%>" placeholder="input your Last Name"><br>
          <label>Email: </label><br>
          <input type="text" name="email" value="<%=data.email%>" placeholder="input your Email"><br>
          <button type="submit">SAVE</button>
        </fieldset>
      </form>
      <%if(err_msg){ %>
        <p><%=err_msg%></p>
        <%  }%>
<%- include partial/footer%>
