<%-include partial/header%>
  <div class="type-r0">
    <h1>GIVE SCORE TO STUDENT</h1>
    <body>
      <form action="/subjects/<%=data.id%>/givescore" method="post">
        <fieldset>
              <label>FIRST NAME</label>:
              <label name= "first_name"><%=data.first_name%></label><br>
              <label>LAST NAME</label>:
              <label name= "last_name"><%=data.last_name%></label><br>

          <div>
              <label>SUBJECT</label>  :
              <label name= "SubjectId" value="<%=dataConjunction[0].SubjectId%>"><%=dataConjunction[0].Subject.subject_name%></label>
              <input type="hidden" name="SubjectId" value="<%=dataConjunction[0].SubjectId%>">
          </div>
        </fieldset>
        <div class="form-group">
        <label>Give Score:</label><br>
            <input type="number" name="score" min="0" max="100"><br>
            <button type="submit">sign score</button>
        </div>
      </form>
      <a href="/subjects">Show All Subject List</a>
  <%-include partial/footer%>
