<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <div class="col-md-10 col-md-offset-1">
     <ul class="nav nav-tabs nav-justified">
         <li role="presentation"><a href="/">Home</a><br></li>
         <li role="presentation" class="active"><a href="/subjects">SUBJECTS</a><br><br>
         <li role="presentation"><a href="/students">STUDENTS</a><br><br>
         <li role="presentation"><a href="/teachers">TEACHER</a><br><br>
     </ul>
   <div class="type-r1">
     <h1 class="type-r3">Subjects Database</h1><br>
   </div>
  <body>
      <table class="table table-bordered">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">subject_name</th>
            <th class="text-center">Assigned Teacher</th>
            <th class="text-center">Action</th>
          </tr>
          <%let count2 = 0%>
          <%data.forEach(z=>{%>
          <tr class="main">
            <%count2 ++%>
              <td class="text-center"><%=count2%></td>
              <td class="text-center"><%=z.subject_name%></td>
              <%if(z.Teachers){%>
                <%let arr   = []%>
                <%let count = 0%>
                <td class="text-center">
                  <ol>
                      <%z.Teachers.forEach(a=>{%>
                        <%count ++%>
                          <li><%=a.first_name%> <%=a.last_name%></li>
                        <%})%>
                  </ol>
                </td>
              <%}else{%>
                <td class="text-center">No Teacher assigned yet</td>
              <%}%>
              <td class="text-center"><a href="/subjects/<%=z.id%>/enrolledstudents">enrolled students</a></td>
          </tr>
          <%})%>
      </table><br>
    <!-- <a href="/"><button type="button" name="button">Home</button></a> -->
  </body>
</div>
</html>
