<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <!-- <title><%=pageTitle%></title> -->
  <body>
  </body>
   <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs nav-justified">
          <li role="presentation"><a href="/">Home</a><br></li>
          <li role="presentation"><a href="/subjects">SUBJECTS</a><br><br>
          <li role="presentation"><a href="/students">STUDENTS</a><br><br>
          <li role="presentation" class="active"><a href="/teachers">TEACHER</a><br><br>
          <li role="presentation"><a href="/logout">LOGOUT</a><br><br>
      </ul>
    <div class="type-r1">
      <h1 class="type-r3">Teachers Database</h1>
      <a href="/teachers/add">ADD TEACHERS</a><br><br>
    </div>
    <body class="table-edit">

    <table class="table table-bordered">
      <tr>
        <th class="text-center">No</th>
        <th class="text-center">ID</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Subject</th>
        <th class="text-center">Options</th>
      </tr>
      <%let count = 0%>
      <%data.forEach(z=>{%>
        <tr class="main">
          <%count++%>
          <td class="text-center"><%=count%></td>
          <td class="text-center"><%=z.id%></td>
          <td class="text-center"><%=z.first_name%></td>
          <td class="text-center"><%=z.last_name%></td>
          <td class="text-center"><%=z.email%></td>
          <%if(z.Subject){%>
            <td class="text-center"><%=z.Subject.subject_name%></td>
          <%}else{%>
            <td class="text-center"><font color="red">Unassign</font></td>
          <%}%>
          <td class="text-center">
            <a href="/teachers/edit/<%=z.id%>"><button type="button" name="button">EDIT</button></a>
            <a href="/teachers/delete/<%=z.id%>"><button type="button" name="button">DELETE</button></a>
          </td>
      <%})%>
        </tr>
    </table>
    <%- include partial/footer%>
