<%-include partial/header%>
  <div class="type-r0">
    <h1>ADD TEACHERS DATA</h1><br>
    <a href="/teachers">Show all data TEACHERS</a><br><br>
    <body>
      <form action="/teachers/add" method="post">
        <fieldset>
          <label>First Name: </label><br>
          <input type="text" name="first_name" value="" placeholder="input your First Name"><br>
          <label>Last Name: </label><br>
          <input type="text" name="last_name" value="" placeholder="input your Last Name"><br>
          <label>Email: </label><br>
          <input type="text" name="email" value="" placeholder="input your Email"><br>
          <select name="SubjectId">
            <option value="">Not Assign Yet</option>
            <%data.forEach(z=>{%>
              <option value="<%=z.id%>"><%=z.subject_name%></option>
            <%})%>
          </select>
          <button type="submit">SAVE</button>
        </fieldset>
      </form><br>
      <%if(err_msg){ %>
        <p><%=err_msg%></p>
        <%  }%>
      <a href="/">HOME</a>
  <%-include partial/header%>
